# === Java ===
*.class
*.jar
*.war
*.ear
*.log

# === Gradle ===
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle-cache/
**/out/

# === IntelliJ IDEA ===
.idea/
*.iml
*.iws
*.ipr
out/

# === Logs ===
logs/
