<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Setzt den Log-Level für die gesamte Anwendung -->
	<root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

	<!-- Konsole -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

	<!-- Datei -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/test.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Neue Datei täglich -->
			<fileNamePattern>logs/test-%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- Alte Logs nach 7 Tagen löschen -->
			<maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

	<!-- Beispiel: spezifisches Logging-Level für ein Paket -->
	<logger name="my.photoLibrary" level="Debug" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

</configuration>